{
  "extends": [
    "airbnb-base"
  ],
  "plugins": [
    "vue"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": [
          "node_modules",
          "server"
        ]
      }
    }
  }
}
